/* General structure:

<nav>
    <input type="checkbox" id="main-id">
    <label for="main-id"><span class="nav-name">menu title</span><span class="nav-icon">&equiv;</span></label>
    <ul>
        <li><a href="url1">menu item 1</a></li>
        <li>
            <input type="checkbox" id="sub-id">
            <label for="sub-id"><span class="nav-name">sub menu title</span><span class="nav-icon">&#x25BE;</span></label>
            <ul>
                <li><a href="sub-url1">sub menu item 1</a></li>
                <li><a href="sub-url2">sub menu item 2</a></li>
                <li><a href="sub-url2">sub menu item 2</a></li>
            </ul>
        </li>
        <li><a href="url2">menu item 2</a></li>
    </ul>
</nav>

*/

/* NORMAL SIZE MENU */
@media (min-width: 751px) {
/* positioning and drop-down logic */
    nav {
        display: flex;
        flex-direction: row;

        position: sticky;
        top: 0;
        z-index: 1; /* these two are important for positioning of children and shadows (z-index etc.) */
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    nav li {
        position: relative;
        display: flex; /* this makes sure that these two are menu elements span the whole available width */
        flex-direction: column;
    }

    nav ul ul {
        position: absolute;
        left: 0;
        top: 100%;
        flex-direction: column;
        visibility: hidden;

        z-index: 10; /* make sure the absolutely positioned list pops up on the top of anything else */
    }

    nav li:hover > ul {
        visibility: visible;
    }

    nav ul ul ul {
        left: 100%; 
        top: 0;
    }


/* transition effects */
    nav ul ul {
        opacity: 0;
        transition: opacity 0.2s;
    }

    nav li:hover > ul {
        opacity: 1;
    }

    nav li {
        transition: background-color 0.4s;
    }

    nav a, nav label {
        transition: color 0.4s;
    }

/* actual styling */
    nav {
        font-size: 1.3em;
        justify-content: flex-end; /* everything to the right */
    }

    nav > label {
        flex: 1 0 auto;
        order: -1; /* top label should be to the left and take up any surplus space */
    }

    nav ul ul ul{
        left: initial; /* has to be reset, otherwise the left:0 of ul ul will still hold */
        right: 100%;
    }

    .nav-icon {
        display: none;
    }

    /* reduce font size as screen goes smaller */
    @media (max-width: 900px) {
        nav {
            font-size: 1em;
        }
    }

    /* colors */
    nav {
        background: #3877A7;
    }

    nav ul {
        background: #3877A7;
    }

    nav li:hover, nav ul ul {
        background: #5897C7;
    }

    nav li li:hover, nav ul ul ul {
        background: #78B7E7;
    }

    nav li li li:hover {
        background: #88C7F7;
    }

    nav a, nav label {
        color: #fff;
    }

    nav li:not(:hover) li a, nav li:not(:hover) li label {
        color: #5897C7;
    }

    nav li li:not(:hover) li a, nav li li:not(:hover) li label {
        color: #78B7E7;
    }

    /* shadows */
    nav {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    }
    
    nav ul ul {
        box-shadow: -4px 4px 4px 0 rgba(0,0,0,0.2);
    }
}


/* SMALL MENU */
@media (max-width: 750px) {
/* positioning and drop-down logic */
    nav {
        display: flex; /* this makes sure that menu elements span the whole available width */
        flex-direction: column;

        position: sticky;
        top: 0;
        z-index: 1; /* these two are important for positioning of children and shadows (z-index etc.) */
    }

    nav li {
        display: flex; /* this makes sure that menu elements span the whole available width */
        flex-direction: column;
    }

    nav input:not(:checked) + label + ul { /* don't show me if my checkbox isn't checked */
        max-height: 0;
        overflow: hidden;
        /* better than setting height:0 and visibility:0 because both don't allow for transition effect */
    }

    nav input:not(:checked) + label + ul ul { /* also don't show me if any parent has an unchecked checkbox */
        max-height: 0;
        overflow: hidden;
        /* better than setting height:0 and visibility:0 because both don't allow for transition effect */
    }

/* transition effects */
    nav li, nav label {
        transition: color 0.4s, background-color 0.4s;
    }

    nav a {
        transition: color 0.4s;
    }

    nav ul {
        /* transition: max-height 0.8s;
        max-height: 999em; */
    }

/* actual styling */
    nav {
        font-size: 1.3em;
    }

    /* colors */
    nav {
        background: #3877A7;
    }

    nav ul, nav label:hover {
        background: #5897C7;
    }

    nav li:hover, nav li label:hover {
        background: #78B7E7;
    }

    nav li li:hover, nav li li label:hover {
        background: #88C7F7;
    }

    nav input:checked + label {
        background: #5897C7;
    }

    nav ul input:checked + label, nav ul ul {
        background: #78B7E7;
    }

    nav ul ul input:checked + label, nav ul ul ul {
        background: #88C7F7;
    }

    nav a, nav label {
        color: #fff;
    }

    nav input:not(:checked) + label + ul a, nav input:not(:checked) + label + ul label {
        color: #5897C7;
    }

    nav li input:not(:checked) + label + ul a, nav li input:not(:checked) + label + ul label {
        color: #78B7E7;
    }

    nav li li input:not(:checked) + label + ul a, nav li li input:not(:checked) + label + ul label {
        color: #88C7F7;
    }

    /* shadows */
    nav {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
    }
}


/* SHARED STYLING */
nav input {
    display: none;
}

nav {
    line-height: 50px;
    font-family: sans-serif;
    font-weight: bold;

    margin: 0 0 3px 0;
    text-align: left;
}

nav a, nav a:hover , .nav-name {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;

    white-space: nowrap;
}

nav label {
    display: flex;
    flex-direction: row;

    cursor: default;
}

nav .nav-name {
    flex: 1 0 auto;
}

nav .nav-icon {
    flex: 0 1 auto;
    order: 1; /* show icon after the nav-name */
    width: 60px;

    text-align: center;
    font-size: 1.5em; /* unicode icons are too small */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
