/* General structure:

<nav>
  <input type="checkbox" id="main-id">
  <label for="main-id">
    <span class="nav-header">
      <span class="nav-name">Title</span>
      <span class="nav-icon">&equiv;</span>
    </span>
    <ul>
      <li><a href="url1">menu item 1</a></li>
      <li><a href="url2">menu item 2</a></li>
    </ul>
  </label>
</nav>

It is important that at no time and window size the main menu list takes up more than one row.
Otherwise the menu will look crappy.
*/

/* SHARED POSITIONING */
nav {
  position: sticky;
  top: 0;
  z-index: 1; /* these two are important for positioning of children and shadows (z-index etc.) */
}


/* SHARED STYLING */
nav input {
    display: none;
}

nav {
    background: #3877A7;
    color: #fff;

    font-size: 20px;
    line-height: 50px;
    font-family: sans-serif;

    margin: 0 0 3px 0;
}

nav a, nav a:hover {
    text-decoration: none;
    white-space: nowrap;
}

nav .nav-header {
    padding-left: 0;
    padding-right: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    cursor: pointer;
}

/* transition effects */
nav * {
    transition: background-color 0.4s;
}


/* NORMAL SIZE MENU */
@media (min-width: 751px) {
/* positioning and drop-down logic */
    nav label {
        display: flex;
        flex-direction: row;

        justify-content: flex-end; /* everything to the right */
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    nav .nav-header {
        /* header should be to the left and take up any surplus space */
        flex: 1 0 auto;
        order: -1;
    }

    nav .nav-icon {
        display: none;
    }



/* transition effects */
    nav ul ul {
        opacity: 0;
        transition: opacity 0.2s;
    }

    nav li:hover > ul {
        opacity: 1;
    }

/* actual styling */
    /* reduce font size as screen goes smaller */
    @media (max-width: 900px) {
        nav {
            font-size: 15px;
        }
    }

    nav .nav-name {
      text-align: left;
    }


    /* padding */
    nav a, nav a:hover, nav .nav-name {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* colors */
    nav li:hover {
        background: #5897C7;
    }

    /* shadows */
    nav {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    }
}


/* SMALL MENU */
@media (max-width: 750px) {
/* positioning and drop-down logic */
    nav label {
        display: flex; /* this makes sure that menu elements span the whole available width */
        flex-direction: column;
    }

    nav .nav-header {
        display: flex;
        flex-direction: row;
    }

    nav .nav-name {
        flex: 1 0 auto;
    }

    nav .nav-icon {
        flex: 0 1 auto;
        order: 1; /* show icon after the nav-name */
    }

    nav li {
        display: flex; /* this makes sure that menu elements span the whole available width */
        flex-direction: column;
    }

    nav input:not(:checked) + label ul { /* don't show me if my checkbox isn't checked */
        max-height: 0;
        overflow: hidden;
        /* better than setting height:0 and visibility:0 because both don't allow for transition effect */
    }

/* transition effects */
    nav ul {
        /* height does not work well (or at all) with the flex-box logic, so we use max-height instead for a transition.
         * max-height should be set to a reasonably low value. For big values the transition looks jerky. */
        max-height: 1024px;
        transition: max-height 0.4s;
    }

/* actual styling */
    nav span.nav-icon {
        padding-left: 0;
        padding-right: 0;

        width: 60px;
        text-align: center;
        font-size: 135%; /* unicode icons are too small */
    }

    nav .nav-name {
        padding-left: 20px;
    }

    nav a, nav a:hover {
        text-align: center;
    }

    nav li {
        line-height: 45px; /* smaller menu items than menu bar look better. */
        border-top: 1px solid #3877A7;
    }


    /* colors */
    nav input:checked + label, nav label:hover {
        background: #5897C7;
    }

    nav a:hover {
        background: #78B7E7;
    }

    /* shadows */
    nav {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4);
    }
}
