[DB]
# On WSL: use host.docker.internal
host_from_within_docker = localhost
host_from_outside_docker = localhost
name = getorganized
user = root
password = root

[DB_shoppinglist]
# On WSL: use host.docker.internal
host_from_within_docker = localhost
host_from_outside_docker = localhost
name = getorganized
user = root
password = root
